{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GpTools-Login</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="box" >
        <span class="borderLine"></span>
        <form method="POST">
            <h2>Sign in</h2>
            <div class="inputBox">
                <select name="login-option" required>
                    <option value="" disabled selected hidden>Select a login method</option>
                    <option value="username">Username</option>
                    <option value="ldap">LDAP</option>
                    <option value="sso">SSO</option>
                </select>
                
                
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Forgot Password</a>
                <a href="#">Sign up</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
