{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GpTools-SignUp</title>
    <link rel="stylesheet" href="{% static 'users/signup.css' %}">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <h2>Sign up</h2>
            <div class="inputBox">
                <input type="text" required="required" name="username">
                <span>Username  *</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="email" required="required" name="email">
                <span>Email  *</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="password1">
                <span>Password  *</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="password2">
                <span>Confirm Password  *</span>
                <i></i>
            </div>
            <input type="submit" value="Sign up">
            <div class="links">
              <a  href="{% url 'login' %}" >Already Have an account ? Sign In</a>
            </div>
        </form>
    </div>
</body>
</html>